<script type="text/javascript" src="/js/groups.js"></script>
<link rel="stylesheet" href="/css/groups.css" />
<div class="col-lg-12 groups-container">
  <h3>
    Groups
  </h3>
  <div class="groups-container">
      <div class="group-form">
        <form class="upload-group animated fadeIn" id="createGroupForm">
          <div class="form-group track-name-block">
              <label for="group-name">Group Name</label>
              <input type="text" class="form-control" id="group-name" placeholder="Your group name">
          </div>
          <div class="form-group friends-block">
            <select class="select-friends">
            </select>
          </div>
          <button class="btn btn-primary submit-group" onclick="saveGroup()" id="submitGroup">Create group</button>
        </form>
    </div>
  </div>
</div>
